@{Layout = null;}

<object data="data:application/x-silverlight-2," type="application/x-silverlight-2"
    width="350" height="300" style=" margin-left:-7px;">
    <param name="source" value="../ClientBin/AutorWidget.xap" />
    <param name="background" value="White" />
    <param name="minRuntimeVersion" value="4.0.60129.0" />
    <param name="autoUpgrade" value="true" />
    <a href="http://www.microsoft.com/getsilverlight/get-started/install/" style="text-decoration: none">
        <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight"
            style="border-style: none" />
    </a>
</object>