@model PopCornOneWebApp.Models.Language

@* This partial view defines form fields that will appear when creating and editing entities
    Split in two files one for create and other for edit because there are problems with repeted Ids and names

 *@

<div class="editor-label">
    @Html.LabelFor(model => model.LanguageName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LanguageName)
    @Html.ValidationMessageFor(model => model.LanguageName)
</div>

