@model PopCornOneWebApp.Models.Language

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Language</legend>

    <div class="display-label">LanguageName</div>
    <div class="display-field">@Model.LanguageName</div>

    <div class="display-label">Languages</div>
    <div class="display-field">@(Model.Languages == null ? "None" : Model.Languages.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LanguageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


